.login-card {
  width: min(100%, 500px);
  margin-inline: auto;
}
.login-card mat-form-field {
  width: 100%;
}
.login_btn {
  margin-inline: auto;
}
.message {
  background-color: rgb(245, 151, 151);
  padding: 1em 2em;
}