<form (ngSubmit)="onSubmit()" #formModel="ngForm">
<mat-card class="login-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Please, Log in</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Auth: {{getAuthJson()}}</p>
    @if(errorMessage()) {
      <div class="message">{{errorMessage()}}</div>
    }
    <mat-form-field>
      <mat-label>User name</mat-label>
      <input matInput [(ngModel)]="auth.name" name="username" required minlength="4" #nameField="ngModel">
      <mat-hint>Insert user name</mat-hint>
      <mat-error>
        @if(nameField.invalid) {
          @if (nameField.errors && nameField.errors['required']) {
            User name in required
          }
          @if (nameField.errors && nameField.errors['minlength']) {
            User must have at least {{nameField.errors['minlength']['requiredLength']}} characters, but has only {{nameField.errors['minlength']['actualLength']}} 
          }
        }
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="auth.password" name="password">
      <button
        type="button"
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button matButton class="login_btn" [disabled]="formModel.invalid">Login</button>
  </mat-card-actions>
</mat-card>
</form>
