<mat-card style="margin: 20px; max-width: 600px;">
  <mat-card-header>
    <mat-card-title>Pridať / Upraviť film</mat-card-title>
  </mat-card-header>

  <mat-card-content style="display: flex; flex-direction: column; gap: 15px; margin-top: 15px;">
    
    <mat-form-field appearance="fill">
      <mat-label>Originálny názov</mat-label>
      <input matInput 
             [value]="nazov()" 
             (input)="nazov.set($any($event.target).value)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rok výroby</mat-label>
      <input matInput 
             type="number"
             [value]="rok()" 
             (input)="rok.set($any($event.target).value)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Slovenský názov</mat-label>
      <input matInput 
             [value]="slovenskyNazov()" 
             (input)="slovenskyNazov.set($any($event.target).value)">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>IMDb ID</mat-label>
      <input matInput 
             [value]="imdbID()" 
             (input)="imdbID.set($any($event.target).value)">
    </mat-form-field>

    <h3>Poradie v rebríčkoch</h3>
      <div class="row">
        <mat-form-field>
          <mat-label>AFI 1998</mat-label>
          <input matInput type="number" 
                 [ngModel]="poradieVRebricku()['AFI 1998']" 
                 (ngModelChange)="updateRanking('AFI 1998', $event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>AFI 2007</mat-label>
          <input matInput type="number" 
                 [ngModel]="poradieVRebricku()['AFI 2007']" 
                 (ngModelChange)="updateRanking('AFI 2007', $event)">
        </mat-form-field>
      </div>

    <mat-divider style="margin: 10px 0;"></mat-divider>
    <h3>Režiséri</h3>
    @for (r of reziser(); track $index) {
      <div style="display: flex; gap: 10px; align-items: center;">
                <mat-form-field appearance="fill" style="flex: 1;">
          <mat-label>Meno</mat-label>
          <input matInput 
                 [value]="r.krstneMeno || ''" 
                 (input)="updateReziser($index, 'krstneMeno', $any($event.target).value)">
        </mat-form-field>
        <mat-form-field appearance="fill" style="flex: 1;">
          <mat-label>Priezvisko</mat-label>
          <input matInput 
                 [value]="r.priezvisko || ''" 
                 (input)="updateReziser($index, 'priezvisko', $any($event.target).value)">
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="odstranitRezisera($index)" type="button" aria-label="Odstrániť režiséra">
          <mat-icon>delete</mat-icon>
        </button>

      </div>
    }
    <div>
      <button mat-stroked-button color="primary" (click)="pridatRezisera()" type="button">
        <mat-icon>add</mat-icon> Pridať režiséra
      </button>
    </div>

    <mat-divider style="margin: 10px 0;"></mat-divider>
    <h3>Postavy</h3>
    @for (p of postava(); track $index) {
      <div style="display: flex; gap: 10px; align-items: center; flex-wrap: wrap; margin-bottom: 10px;">

        <mat-form-field appearance="fill" style="flex: 1; min-width: 150px;">
          <mat-label>Meno postavy</mat-label>
          <input matInput 
                 [value]="p.postava || ''" 
                 (input)="updatePostava($index, 'postava', $any($event.target).value)">
        </mat-form-field>

        <mat-form-field appearance="fill" style="flex: 1; min-width: 150px;">
          <mat-label>Dôležitosť</mat-label>
          <mat-select [value]="p.dolezitost" 
                      (selectionChange)="updatePostava($index, 'dolezitost', $event.value)">
            <mat-option value="hlavná postava">Hlavná postava</mat-option>
            <mat-option value="vedľajšia postava">Vedľajšia postava</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="flex: 1; min-width: 150px;">
          <mat-label>Meno herca</mat-label>
          <input matInput 
                 [value]="p.herec?.krstneMeno || ''" 
                 (input)="updateHerecVPostave($index, 'krstneMeno', $any($event.target).value)">
        </mat-form-field>

        <mat-form-field appearance="fill" style="flex: 1; min-width: 150px;">
          <mat-label>Priezvisko herca</mat-label>
          <input matInput 
                 [value]="p.herec?.priezvisko || ''" 
                 (input)="updateHerecVPostave($index, 'priezvisko', $any($event.target).value)">
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="odstranitPostavu($index)" type="button" aria-label="Odstrániť postavu" style="margin-top: -15px;">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
    <div>
      <button mat-stroked-button color="primary" (click)="pridatPostavu()" type="button">
        <mat-icon>add</mat-icon> Pridať postavu
      </button>
    </div>

  </mat-card-content>


  <mat-divider></mat-divider>

  <mat-card-actions align="end">
    <button mat-button color="warn" routerLink="/films">Zrušiť</button>
    <button mat-raised-button color="primary" (click)="ulozit()">Uložiť</button>
  </mat-card-actions>
</mat-card>